header{
    height: 70px;
    font-size: 1.5rem;
}

body{
    height: 100vh;
}
.main-container{
    width: 700px;
    padding: 10px;
}

.window{
    width: 300px;
    height: 400px;
}

.window-register{
    width: 100%;
    height: 90%;
    border: 0px solid rgb(175, 175, 175);
    border-radius: 10px;
    box-shadow: 2px 2px 10px 0px gray;
    padding: 10px;
}
.footer-p{
    margin-top: 30px;
    text-align: center;
    color: gray;
}

 .input-group-text{
    background-color: rgb(158,192,243);
}